<div class="mat-elevation-z8">
    <mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="level">
            <mat-header-cell *matHeaderCellDef> Level </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.level}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="timestamp">
            <mat-header-cell *matHeaderCellDef> Timestamp </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.timestamp}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="proposerali">
            <mat-header-cell *matHeaderCellDef> Proposer(alias) </mat-header-cell>
            <mat-cell *matCellDef="let element"> <b>{{element.proposer ? element.proposer.alias : ""}}</b> </mat-cell>
        </ng-container>

        <ng-container matColumnDef="proposeradr">
            <mat-header-cell *matHeaderCellDef> Proposer(address) </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.proposer ? element.proposer.address : ""}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="transactions">
            <mat-header-cell *matHeaderCellDef> Transactions </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.transactions}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row matRipple *matRowDef="let row; columns: displayedColumns;" (click)="openDetails(row)"></mat-row>
    </mat-table>

    <div class="loading-bar" *ngIf="isLoadingResults">
        <mat-progress-bar *ngIf="isLoadingResults" mode="indeterminate"></mat-progress-bar>
        <!-- <mat-spinner *ngIf="isLoadingResults"></mat-spinner> -->
    </div>

    <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25]" [length]="totalBlocks" (page)="getNextBlocks($event)" showFirstLastButtons
        aria-label="Select page of blocks">
    </mat-paginator>
</div>