.mat-row:hover {
    background: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.mat-column-proposeradr {
    word-break: break-word;
    flex-grow: 2;
}

// .mat-row:active {
//     background: rgba(255, 255, 255, 0.1);
// }